table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
  }
  
td, th {
    border: 2px solid #000000;
    text-align: left;
    padding: 8px;
  }

#divMenu {
    font-family: arial, sans-serif;
    background-color: rgb(255, 0, 0);
    width: 200px;
    height: auto;
    top: 0;
    display: inline-block;
}

#logo {
    width: 100%;
    height: auto;
    top: 0;
}

#divContent {
    background-color: rgb(17, 0, 255);
    margin-left: 50px;
    display: inline-block;
}