table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border-style: solid;
  }
  
td, th {
    border: 2px solid #000000;
    text-align: left;
    padding: 4px;
    border-style: solid;
    font-size: small;
  }

p {
  font-size: small;
  font-family: arial, sans-serif;
}

.butoane {
  background-color: rgb(255, 255, 255);
  border: none;
  padding: 7px 2px;
  text-align: left;
  text-decoration: none;
  font-family: arial, sans-serif;
  font-size: 16px;
}

#divMenu {
    font-family: arial, sans-serif;
    font-size: 5;
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: auto;
    top: 0;
    float: left;
}

#logo {
    width: 100%;
    height: auto;
    top: 0;
}

#divClasamentActual {
    position : absolute;
    visibility: hidden;
    background-color: rgb(255, 255, 255);
    font-size: small;
    margin-left: 230px;
}

#divRegulament {
  position : absolute;
  visibility: visible;
  background-color: rgb(255, 255, 255);
  font-size: small;
  margin-left: 230px;
}

#divClasamenteAnterioare {
  position : absolute;
  visibility: hidden;
  background-color: rgb(255, 255, 255);
  font-size: small;
  margin-left: 230px;
}